 body{
     margin: 0;
 }
 .myimage{


  margin: 50px;
  max-width: 100%;
 }
h2{
  text-transform: uppercase;
   font-family: Nunito;
  font-size: 24px;
}
 
 
 header{

    font-size: 24px;
    background-color: #2E94CC;
    text-align: center;
    color: white;
    padding-top: 26px;
    padding-bottom: 35px;
    letter-spacing: 0.6px;
    line-height: 30px;
 }

  
 article{
    background-color: white;
    max-width: 850px;
    margin: auto;
    padding-top: 70px;
}
.Sample{

    color: #000;
  font-family: Nunito;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  text-align: justify;
  text-transform: uppercase;

}
iframe{
  margin:50px 0;
}

section{
  margin: 0;
 
}
#namesis{
  max-width: 680px;
  margin: auto;
}
.End{
  text-align: center;
}
