 body{
     margin: 0;
 }
 .myimage{


  margin: 50px;
  max-width: 100%;
 }
h2{
  text-transform: uppercase;
   font-family: Nunito;
  font-size: 24px;
}
 
 
 header{

    font-size: 24px;
    background-color: #2E94CC;
    text-align: center;
    color: white;
    padding-top: 26px;
    padding-bottom: 35px;
    letter-spacing: 0.6px;
    line-height: 30px;
 }

  
 article{
    background-color: white;
    max-width: 850px;
    margin: auto;
    padding-top: 70px;
}
.Sample,
.old{

    color: #000;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  
  text-transform: uppercase;

}
.old{
  margin-bottom: 12px;
}
iframe{
  margin:50px 0;
}

section{
  margin: 0;
 
}
#namesis{
  max-width: 680px;
  margin: auto;
}

.End{
  margin:auto;
  
  max-width: 680px;
  padding: 20px 15px;
  background-color: #F1F1F1;
}

.Then{
  max-width: 680px;
  padding: 20px 15px;
  margin: auto;

}

.List{

  margin: 0 ;
  padding: 0;
   list-style-type:none;
 
  
}

.List li{
  margin:auto;
 margin-bottom: 12px;
   
}
.List li:last-of-type{
  margin-bottom: 0;
}